{% extends "public.base.home.twig.html" %}

{% block title %}Pushparaj P. Parab | Portfolio {% endblock %}

{% block header %}

{% endblock %}

{% block content %}

    <div id="intro" style="background-color:#000; height: 100%">
        <div class="bgimg-1 " style="height: 100%" >

            <div class="caption " style="opacity: 1 !important; color: white">
                <div class="container">

                    <div class="text-center  col-md-4" style="  margin-top: 20%;
              padding: 20px;  border-radius: 4px ; background-color: #000000; border-right: #000 solid 1px">
                        <img src="/imgs/me.png" width="150px">

                        <div>
                            <h2> Pushparaj P. Parab </h2>
                            <h4>Software Developer</h4>
                            <br>
                            <p>M.S in Information Technology (HCI) at UNC Charlotte.</p>
                        </div>
                    </div>

                    <div class="col-md-8 intodiv">


            <span class="intro" style=";color: #f7f7f7; opacity: 1 !important;">
                <p style="font-size: 20px">
                    Hey! I am a software developer.I like to work
                on front end technologies and create awesome user interface.
<br><br>

                </p>
                <span style="font-weight:lighter !important; font-size: 20px">
                     Please have a look at my <a>projects</a>, and feel free to go through my <a>github</a> code. Like my work?
                     <a>Write me about it</a>, or hire me :)
                </span>

            </span>

                    </div>








                </div>
                <br>


                <!--<div class="container">-->

                <!--<div class="col-sm-12 text-center">-->

                <!--</div>-->
                <!--<div class="col-sm-12" style="background-color: gainsboro; border-radius: 4px; padding:15px">-->

                <!--<div class="col-sm-2"> <img src="assests/images/js.png"  height="50px"></div>-->
                <!--<div class="col-sm-4"> <img src="assests/images/net.png" height="50px"></div>-->
                <!--<div class="col-sm-2"><img src="assests/images/php.png"  height="50px"></div>-->
                <!--<div class="col-sm-2"><img src="assests/images/SQLs.png"  height="50px"></div>-->
                <!--<div class="col-sm-2"><img src="assests/images/java.png"  height="50px"></div>-->

                <!--</div>-->

                <!--</div>-->
            </div>





        </div>


    </div>




    <div id="about"  style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;">ABOUT ME</h3>

        <p class="text-center" >

            Soon after my graduation i worked for 5 years as a full stack .net developer. Currently enrolled as a
            full time Information technology(MS) student at University of North Carolina at Charlotte.

        </p>

    </div>


    <div class="skillset">
        <div class="bgimg-2">
            <div class="caption">
                <!--<span class="border" style="font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>-->


                <div class="container" style="color: white">
                    <br>


                    <div class="col-sm-6">


                        <h4>Skill set</h4>

                        <ul>
                            <li>UX/UI <span class="badge">9</span> </li>
                            <li>Full stack .net Development <span class="badge">8.5</span> </li>
                            <li>Javascript, jQuery <span class="badge">8.5</span> </li>
                            <li>Databases : SQL SERVER, mySQL  <span class="badge">8.5</span> </li>
                            <li>Full stack php Development  <span class="badge">8</span> </li>
                            <li>Java <span class="badge">7</span> </li>
                            <li>Mobile application development - Android <span class="badge">8</span> </li>
                            <li>Data Visualisation: D3.js, SVG, VML <span class="badge">8</span> </li>
                            <li>Python <span class="badge">5</span></li>
                            <li>Jupyter notebooks <span class="badge">5</span></li>
                            <li>Apache spark <span class="badge">3</span></li>
                            <li>R <span class="badge">3</span></li>
                        </ul>
                    </div>

                    <div class="col-sm-6">
                        <h4>Education</h4>

                        <ul>
                            <li>M.S. in Information technology - University of North Carolina at Charlotte <br> (GPA: 3.8)  </li>
                            <li>B.E. in Information technology - Goa University<br> (GPA: 3.5)</li>

                        </ul>

                        <br>


                        <h4>Work Experience</h4>

                        <ul>
                            <li>Currently working as Research Assistant under Dr. Mohamad Shehab.</li>
                            <li>Research Assistant under Dr. Aidong Lu.</li>
                            <li>Research Assistant under Dr. Mohamad Shehab.</li>
                            <li>Full stack .net developer for COMMSSCOPE.</li>

                        </ul>
                    </div>




                    


            </div>
                <div class="text-center " style="color: white">
                    <br><br>
                  <span id="scroll" class="pointer"> TIME LINE<br> <img   src="/imgs/scrolldown.gif" height="50px"></div>
                </span>


            </div>
        </div>
    </div>





    <div class="container text-center ctest" id="timeline_">
        <h3 style="text-align:center;">TIME LINE </h3>
        <a tabindex="0" data-toggle="popover" data-trigger="focus" title="Help" data-content="
Click on each box to view more details and hover on the green circles to get milestones!" data-placement="auto top">
            Help?
        </a>
    </div>
<div class="container text-center mTime" id="timeline_Mobile"></div>

<div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" id="insideModal">
        <div class="modal-content qr-code-Content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" > <span id="ModalTitle"></span>
                </h4>
            </div>
            <div class="modal-body">

                <b id="eventName"></b> <div id="nodeName"></div>
                <br>

                <b>Description:</b>
                <span id="modalDesc"></span>



            </div>
            <!--<div class="modal-footer">-->
                <!--<button type="button" id="setProbability" class="btn btn-success btn-sm" >-->
                    <!--Okay-->
                <!--</button>-->
                <!--<button type="button"  id="cancelModal" class="btn btn-danger btn-sm" >-->
                    <!--Cancel-->
                <!--</button>-->
            <!--</div>-->
        </div>
    </div>
</div>

    <div class="container text-center" >


        <div id="timeline" class="mdiv"></div>


    </div>

</div>
<div class="bgimg-3" style="background-color: #282E34">

<div class="container "  id="work" style="padding-bottom: 100px">
    <h3 style="text-align:center; color: white">WORK</h3>




    <div class="col-lg-12" id="projects" style="padding-bottom: 10px; color: white ">

       Worked on various technologies like .net, php, java, mobile development. In this section
        i have listed some of my previous and ongoing work to display my skills. Click on the tiles below to learn more.



        <br/>
        <br>
    </div>

    </div>
</div>
</div>





<div id="tooltip" class="tooltip" style="opacity: 0; position: absolute;">

</div>
<div id="showTime"  class="timeDiv" style="opacity: 0; position: absolute; "></div>

{% endblock %}


{% block myscripts %}
<script type="text/javascript" src="assets/js/timeline.js"></script>
<script  type="text/javascript">





    function setLanguages(languages)
    {

        for(var i =0;i<languages.length;i++){

        var href = Href.make("hover-animate","/projects/"+languages[i].Id );
        var col6_div = Div.make("col-md-4 col-sm-6 col-lg-4 col-xs-12");
        var imgDiv = Div.make("bgimg backDp tilebasic");
        var img = Img.make("glyphicon", languages[i].LogoImgUrl ,"140px");

        var countDiv = Div.make("text-center cirdiv");
        countDiv.innerHTML ="<b>" + languages[i].NoOfProjects + "</b>";
        var hrefCount = Href.make("cirhref","#");
            hrefCount.append(countDiv);
            hrefCount.setAttribute("data-toggle","tooltip");
            hrefCount.setAttribute("data-placement","left" );
            hrefCount.setAttribute("title", "Number of projects: " + languages[i].NoOfProjects);

        //countDiv.append(hrefCount);

        var title = Span.make("tileText");
        title.appendChild(document.createTextNode(languages[i].Name) );
        var smTitle = Span.make("tileTextSmall");
        smTitle.appendChild(document.createTextNode(languages[i].Des));
        imgDiv.setAttribute("style"," background-color:"+ languages[i].Color);
        imgDiv.append(hrefCount);
        imgDiv.append(img);
        imgDiv.append(title);
        imgDiv.append(smTitle);
        col6_div.append(imgDiv);
        href.append(col6_div);

        console.log(href);

        $("#projects").append(href);


        }
        $('[data-toggle="tooltip"]').tooltip();


    }



    function getLanguages() {
        $.ajax({
            type: 'GET',
            url: 'admin/Language/ajax',
            dataType: "json",
            success: function(data){
                console.log(data);
                setLanguages(data.Languages);
            },
            error: function(jqXHR, textStatus, errorThrown){
                alert('addWine error: ' + textStatus);
            }
        });
    }


    function PopulateStages() {
        $.ajax({
            type: 'GET',
            url: 'admin/timeline/ajax',
            dataType: "json",
            success: function(data){
                console.log(data.Timelines);
                generate(data.Timelines);
            },
            error: function(jqXHR, textStatus, errorThrown){
                alert('addWine error: ' + textStatus);
            }
        });
    }

    


    $(document).ready(function() {

        $('[data-toggle="popover"]').popover();




        getLanguages();
        PopulateStages();

            $(window).scroll(function(){
                var aTop = $('#navbar').height();
                if($(this).scrollTop()>=aTop){
                    //console.log('ad just passed.');
                }
            });

        $("#scroll").click(function (){
            var width = $( document ).width();
            if(width < 800) {

                $('html, body').animate({
                    scrollTop: $("#timeline_").offset().top

                }, 1500,'easeInExpo');
            }
            else{
                $('html, body').animate({
                    scrollTop: $("#timeline_").offset().top - 100

                }, 1500,'easeInExpo');
            }


        });

            $("#workLink").click(function (){

                var width = $( document ).width();
                if(width < 800) {
                    $('.navbar-toggle').click();
                    $('html, body').animate({
                        scrollTop: $("#work").offset().top
                    }, 1500,'easeInExpo');
                }else{
                    $('html, body').animate({
                        scrollTop: $("#work").offset().top - 100
                    }, 1500,'easeInExpo');
                }
            });

            $("#aboutLink").click(function (){
                var width = $( document ).width();
                if(width < 800) {
                    $('.navbar-toggle').click();
                    $('html, body').animate({
                        scrollTop: $("#about").offset().top
                    }, 1500,'easeInExpo');
                }
                else{
                $('html, body').animate({
                    scrollTop: $("#about").offset().top - 100
                }, 1500,'easeInExpo');
                }
            });


        $("#introLink").click(function (){
            var width = $( document ).width();
            if(width < 800) {
                $('.navbar-toggle').click();
                $('html, body').animate({
                    scrollTop: $("#intro").offset().top
                }, 1500,'easeInExpo');
            }
            else{
                $('html, body').animate({
                    scrollTop: $("#intro").offset().top - 100
                }, 1500,'easeInExpo');
            }
        });




    });
</script>
{% endblock %}

